@import url('https://fonts.googleapis.com/css2?family=Karla&family=Spectral&display=swap');

body {
    background-color: #ffffff;
}
#content {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #ffffff;
  } 

img {
    max-width: 100%;
}

h1 {      
    padding: 20px;
    text-align: center;
    font-family: 'Spectral', serif;
    font-size: 3em;
    line-height: 1.1em;
    color: #000000;
    position:relative;
}

h2 {     
    max-width: 900px;
    float: left; 
    padding: 2px;
    text-align: left;
    font-family: 'Spectral', serif;
    font-size: 2em;
    line-height: 1em;
    color: #000000;
    position: relative;
    
}

p {
    text-align: left;
    padding: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    line-height: 1.35em;
    color: #000000;
}

header {
    max-width: 1100px;
    background-color: #18C3EA;
    align-items: center;
    justify-content: center;
    line-height: 2.75em;
    border-radius: 10px;
}
  
footer {
    max-width: 1100px;
    background-color: #18C3EA;
    align-items: center;
    justify-content: center;
    line-height: 2.75em;
    border-radius: 10px;
}

.list-title {
    float: none;
    border-bottom: inset grey;
}


li {
    text-align: justify;
    font-family: 'Spectral', serif;
    font-size: 1.25em;
}

.picture-right-image {
    position: relative;
    z-index: 1000;
    float: right;
    width: 285px;
    height: 289px;
    margin: 15px 10px 15px 5px;
}

#info {
    text-align: center;
}

a.three {
    color: #000000;
}