@media all and (min-width: 45.6em) {
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation ul {
        list-style-type: none;
    }

    .navigation li:first-child {
        display: none;
    }

    .hero {
        display: block;
        margin: 3%;
        align-self: center;
        text-align: center;
        position: relative; 
        max-width: 100%;
    }

    .summary {
        position: absolute;
        top: 44px;
        left: 35px;
        background: radial-gradient(#fdd835, #ABC4FF);
        border: 1px solid #000000;
        padding: 1.5rem;
        opacity: 0.9;
        max-width: 80%;
        max-height: 80%;
    }

    .article {
        text-align: left;
        padding: 15px;
        margin: 10px;
    }
    
    .tulip img {
        display: block;
        float: right;
        margin: 10px;   
    }

    .images {
        display: grid;
        max-width: 1200px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        padding: 5px;
    }

    .gallery {
        width: 350px;
        height: 300px;
        display: block;
    }

    /* home page */
    
    .townstat section {
        display: flex;
        flex-direction: row;
        flex-shrink: 1;
        align-items: center;
    }

    .townstat section:nth-child(even) {
        flex-direction: row-reverse;
        text-align: start;
    }
    .townstat img {
    max-width: fit-content;
    }
    

}